{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name}}!{% endblock %}

{% block body %}

	<section class="articles">

		{% for article in articles %}

			<article>
				<h2>{{ article.title }}</h2>
				<div class="metadata">
					Write on {{ article.createAt | date('d/m/Y') }} at {{ article.createAt | date('H:i') }} Category Tuto
				</div>
				<div class="content">
					<img src="{{ article.image }}" alt="">
					<p>{{ article.content | raw }}</p>
					<a href="{{ path('blog_show', {'id': article.id }) }}" class="btn btn-primary">Read more...</a>
				</div>
			</article>

		{% endfor %}

	</section>

{% endblock %}
