{% extends 'base.html.twig' %}

{% block body %}
	<article>
		<h2>{{ article.title }}</h2>
		<div class="metadata">
			Write on 
			{{ article.createAt | date('d/m/Y') }} at {{ article.createAt | date('H:i') }} 
			Category Tuto
		</div>
		<div class="content">
			<img src="{{ article.image }}" alt="{{ article.title }}">
			<p>{{ article.content | raw }}</p>
		</div>
	</article>
{% endblock body %}